
.navbar {
  background-color: #2c3e50;
  padding: 10px 0;
  width: 100%;
  font-size: inherit; 
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 0 10px;
}

.nav-button, .logout-button {
  color: #ecf0f1;
  padding: 8px 16px;
  font-family: 'Arial', sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.nav-button:hover, .logout-button:hover {
  color: #3498db;
  text-decoration: underline;
}

.font-size-dropdown {
  color: #ecf0f1;
  font-size: inherit;
}

.font-size-dropdown label {
  margin-right: 5px;
  font-weight: bold;
}

.font-size-dropdown select {
  padding: 5px;
  font-size: inherit;
  border-radius: 5px;
  border: none;
  background-color: #555;
  color: #fff;
}

