<nav class="navbar">
  <ul class="nav-links">
    <li *ngIf="!isLoggedIn()"><a href="/" class="nav-button">Home</a></li>
    <li *ngIf="!isLoggedIn()"><a href="/login" class="nav-button">Login</a></li>
    <li *ngIf="isLoggedIn()"><a href="/account" class="nav-button">Account</a></li>
    <li *ngIf="isLoggedIn()"><a href="/search" class="nav-button">Search</a></li>
    <li *ngIf="isLoggedIn()"><button class="logout-button" (click)="logout()">Logout</button></li>
  </ul>
</nav>


<router-outlet></router-outlet>