<div class="account-container">
  <h1>User Account Information</h1>

  <!-- Displaying the current users information -->
  <div class="user-info">
    <p><strong>Username:</strong> {{ user?.username }}</p>
    <p><strong>Email:</strong> {{ user?.email }}</p>
  </div>

<!-- Displaying the books currently being rented by the current user  -->
  <h2>Books Currently Rented</h2>
  <div *ngIf="activeBooks.length > 0" class="books-container">
    <ul>
      <li *ngFor="let book of activeBooks">
        <article class="book-info">
          <h2 class="book-title"><strong>{{ book.Title }}</strong> by {{ book.Author }}</h2>
          <p class="book-details">Published in {{ book.Year }}, {{ book.Country }}</p>
          <p class="book-details">{{ book.Genre }} genre, {{ book.Language }}, {{ book.Pages }} pages</p>
          <p class="book-description">{{ book.Description }}</p>

          <button class="return-button" (click)="returnBook(book.Title)">Return Book</button>

        </article>
      </li>
    </ul>
  </div>

  <!-- Displaying the books that have been returned by the current user  -->
  <h2>Rental History (Returned Books)</h2>
  <div *ngIf="rentalHistory.length > 0" class="books-container">
    <ul>
      <li *ngFor="let book of rentalHistory">
        <article class="book-info">
          <h2 class="book-title"><strong>{{ book.Title }}</strong> by {{ book.Author }}</h2>
          <p class="book-details">Published in {{ book.Year }}, {{ book.Country }}</p>
          <p class="book-details">{{ book.Genre }} genre, {{ book.Language }}, {{ book.Pages }} pages</p>
          <p class="book-description">{{ book.Description }}</p>
        </article>
      </li>
    </ul>
  </div>

  <!-- Displays information on any errors that may occur  -->
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
</div>
