.register-form {
    width: 400px;
    margin: auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: inherit;
    font-family: inherit;
    color : inherit;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: calc(100% - 40px);
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
  }
  
  .error-message {
    color: #dc3545;
    font-size: inherit;
    padding-top: 10px;
  }
  
  .submit-button {
    width: 100%;
    padding: 20px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: inherit;
    background-color: #007bff;
    color: white;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  